.dt-ui-targetWidget {
	.oo-ui-toolGroup {
		border: 0;
	}

	.ve-init-mw-target-surface .ve-ce-documentNode,
	.ve-init-mw-target-surface .ve-ui-surface-placeholder {
		min-height: 10em;
		padding: 6px 8px;
		box-sizing: border-box;
	}
}
