.dt-ui-newTopic {
	clear: both;

	&.oo-ui-panelLayout-padded.oo-ui-panelLayout-framed {
		margin-top: 2em;
	}

	h2&-sectionTitle {
		max-width: none;
		// This element is a <h2> - override unwanted heading styles
		padding: 0;
		border: 0;
		margin-top: 4px;
	}

	.dt-ui-replyWidget {
		margin-bottom: 0;
	}

	.oo-ui-fieldLayout-messages {
		max-width: none;
	}
}
