.dt-ui-replyWidget {
	> .oo-ui-textInputWidget {
		max-width: none;
	}

	&-actions {
		margin-top: 0.5em;
		display: flex;
	}

	&-terms {
		flex-grow: 1;
		margin-right: 1em;
		font-size: 0.75em;
		color: #54595d;
	}

	&-preview {
		margin-left: -1.6em;
	}

	.oo-ui-messageWidget {
		margin-bottom: 0.5em;
	}
}
